.header {
    position: relative;
    top: 0px;
    left: 0px;
    background-color: #111111;
    width: calc(100% - 8px);
    color: #F5D409;
    font-family: Bold-Font;
    font-size: 40px;
    padding: 4px;
    display: flex;
    align-items: center;
}