.statistics {
    color: #F5D409;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: auto;

    .player-select {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        height: 60px;
        margin-top: 30px;
        margin-bottom: 10px;

        .ant-select {
            font-size: 24px;
            height: 60px;

            .ant-select-selector {
                height: 60px !important;
                padding: 12px 16px !important;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .ant-select-selection-item {
                line-height: 36px;
            }

            .ant-select-arrow {
                font-size: 24px;
            }
        }
    }

    .player-stats {
        background-color: #1F1F1F;
        color: #F5D409;
        padding: 16px;
        border-radius: 16px;
        font-family: 'Bold-Font', sans-serif;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 10px 2px #F5D40930;
        border: 1px solid #F5D409BB;

        h2 {
            font-size: 60px;
            text-align: center;
            margin: 20px;
        }

        .title {
            text-align: center;
            font-size: 40px;
        }

        .ratings {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin: 12px;
            padding: 8px;
            transition: 0.3s all;

            div {
                background-color: #1F1F1F;
                border: 1px solid #F5D40933;
                box-shadow: 0 0 6px #F5D40930;
                border-radius: 10px;
                padding: 12px;
                margin: 4px;
                font-size: 30px;
                min-width: 200px;
                text-align: center;
                transition: transform 0.2s ease;
                font-weight: bold;
                transition: 0.3s all;

                &:hover {
                    transform: scale(1.03);
                    box-shadow: 0 0 10px 2px #F5D40955;
                }

                span {
                    display: block;
                    font-size: 24px;
                    color: #F5D409C4;
                    margin-bottom: 4px;
                }
            }
        }

        .stats-totals {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin: 12px;
            font-size: 18px;
            background-color: #292929;
            border-radius: 12px;
            padding: 32px;
            border: 1px solid #F5D40955;
            box-shadow: 0 0 5px 1px #F5D40940;
            transition: 0.3s all;

            &:hover {
                transform: scale(1.005);
                box-shadow: 0 0 10px 2px #F5D40955;
            }

            div {
                background-color: #1F1F1F;
                border: 1px solid #F5D40933;
                box-shadow: 0 0 6px #F5D40930;
                border-radius: 10px;
                padding: 12px;
                margin: 4px;
                min-width: 160px;
                text-align: center;
                transition: transform 0.2s ease;
                font-weight: bold;
                transition: 0.3s all;

                &:hover {
                    transform: scale(1.03);
                    box-shadow: 0 0 10px 2px #F5D40955;
                }

                span {
                    display: block;
                    font-size: 16px;
                    color: #F5D409C4;
                    margin-bottom: 4px;
                }
            }
        }

        .wins_stats {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-around;
            margin: 12px;
            font-size: 18px;
            background-color: #292929;
            border-radius: 12px;
            padding: 32px;
            border: 1px solid #F5D40955;
            box-shadow: 0 0 5px 1px #F5D40940;
            display: flex;
            align-items: center;
            font-size: 30px;
            transition: 0.3s all;

            &:hover {
                transform: scale(1.005);
                box-shadow: 0 0 10px 2px #F5D40955;
            }

            div {
                background-color: #1F1F1F;
                border: 1px solid #F5D40933;
                box-shadow: 0 0 6px #F5D40930;
                border-radius: 10px;
                padding: 12px;
                margin: 4px;
                text-align: center;
                transition: transform 0.2s ease;
                font-weight: bold;
                transition: 0.3s all;

                &:hover {
                    transform: scale(1.03);
                    box-shadow: 0 0 10px 2px #F5D40955;
                }

                span {
                    display: block;
                    font-size: 16px;
                    color: #F5D409C4;
                    margin-bottom: 4px;
                }
            }

            span {
                display: block;
                font-weight: bold;
                font-size: 24px !important;
            }
        }

        .opponent-performance {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #292929;
            padding: 32px;
            border-radius: 12px;
            border: 1px solid #F5D40955;
            box-shadow: 0 0 5px 1px #F5D40940;
            margin: 12px;
            transition: 0.3s all;

            &:hover {
                transform: scale(1.005);
                box-shadow: 0 0 10px 2px #F5D40955;
            }

            table {
                width: 80%;
                height: 160px;
                background-color: #292929;
                overflow: hidden;
                border-radius: 16px;
                box-shadow: 0 0 6px 1px #F5D40930;

                thead {
                    background-color: #1F1F1F;
                    color: #F5D409;
                    height: 50%;
                    font-size: 30px;
                }

                th,
                td {
                    padding: 12px 16px;
                    text-align: center;
                    border-bottom: 1px solid #F5D40933;
                }

                td {
                    background-color: #262626;
                    font-size: 24px;
                }

                tbody tr:last-child td {
                    border-bottom: none;
                }
            }
        }

        .single-chart {
            background-color: #292929;
            padding: 16px;
            border-radius: 12px;
            border: 1px solid #F5D40955;
            box-shadow: 0 0 5px 1px #F5D40940;
            margin: 12px;
            transition: 0.3s all;

            &:hover {
                transform: scale(1.005);
                box-shadow: 0 0 10px 2px #F5D40955;
            }

            .recharts-cartesian-grid line {
                stroke: #444;
            }

            .recharts-tooltip-label,
            .recharts-tooltip-item {
                color: #1F1F1F !important;
            }

            .recharts-tooltip-wrapper {
                background-color: #1F1F1F;
                border-radius: 12px;
                border: 1px solid #E5C308;
                padding: 8px;
            }

            .recharts-legend-item text {
                fill: #F5D409 !important;
            }

            .recharts-default-tooltip {
                background-color: #1F1F1F;
                color: #F5D409;
                border-radius: 4px;
                padding: 8px;
                font-weight: bold;
            }

            .recharts-surface {
                font-family: 'Bold-Font', sans-serif;
            }
        }

        .charts-row {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

            .recharts-cartesian-grid line {
                stroke: #444;
            }

            .recharts-tooltip-label,
            .recharts-tooltip-item {
                color: #1F1F1F !important;
            }

            .recharts-tooltip-wrapper {
                background-color: #1F1F1F;
                border-radius: 12px;
                border: 1px solid #E5C308;
                padding: 8px;
            }

            .recharts-legend-item text {
                fill: #F5D409 !important;
            }

            .recharts-default-tooltip {
                background-color: #1F1F1F;
                color: #F5D409;
                border-radius: 4px;
                padding: 8px;
                font-weight: bold;
            }

            .recharts-surface {
                font-family: 'Bold-Font', sans-serif;
            }
        }
    }
}

.pie-side-info {
    margin-top: 24px;
    padding: 16px;
    background: #f9f9f9;
    border-radius: 12px;
    font-size: 16px;

    div {
        margin-bottom: 8px;
    }

    strong {
        color: #333;
    }
}